__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.idea/
.vscode/
venv/
env/

Qwen3-TTS-Tokenizer-12Hz/
Qwen3-TTS-12Hz-1.7B-CustomVoice/
Qwen3-TTS-12Hz-1.7B-VoiceDesign/
Qwen3-TTS-12Hz-1.7B-Base/
Qwen3-TTS-12Hz-0.6B-CustomVoice/
Qwen3-TTS-12Hz-0.6B-Base/

ref_audio/
outputs/